html {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.min-h-item {
  min-height: 150px;
}