* {
  box-sizing: border-box;
}

html{
  overscroll-behavior: none;
  overflow: hidden;

}

body{
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  scroll-snap-type: y mandatory;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

.proxima-font {
  font-family: 'Roboto Mono', monospace;
}

.min-h-item {
  min-height: 150px;
}

@media screen and (max-width: 600px) {
  .min-h-item {
    min-height: 100px;
  }
}


rect {
  opacity: .85;
}

.highlight {
  background: url(/brush-6.svg);
  background-repeat: no-repeat;
  background-size: 101% 100%;
  padding: 8px 58px;
}